<!DOCTYPE html>
<html lang="en">
<head>
        <meta charsets="UTF-8">
        <title>Student Classification</title>
</head>
<body>
<h1> STUDENT CLASSIFICATION SITE</h1>
        <form action="{{ url_for('predict')}}" method="POST">
                math_score:   <input type="number" name="math_score"></br>
                reading_score:    <input type="number" name="reading_score"></br>
                writing_score:   <input type="number" name="writing_score"></br>

                <input type=submit value=Submit>
        </form>
         <p style= "color: blue;">My final prediction: {{ predict }} </p>
</body>
</html>
